asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
dj-database-url==2.1.0
Django==4.2.5
gunicorn==21.2.0
idna==3.6
packaging==23.2
Pillow==10.0.1
psycopg2-binary==2.9.9
razorpay==1.4.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
whitenoise==6.6.0
